<div class="body-container">
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <img class="avatar" alt="avatar" src="https://thumbs.dreamstime.com/b/continuous-line-drawing-movie-clapper-board-film-reel-flap-retro-design-217829640.jpg" />
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to "My lists", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "New list", new_list_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>

  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1526007413281-c202e21eedf3?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzJ8fGNpbmVtYXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60);">
      <div class="container">
        <h1>Save any kind of movies</h1>
      </div>
  </div>

  <div class="card-list">
    <h3>My movie list</h3>
      <div class="cards">
        <% @lists.each do |list| %>
          <div class="card-category" style="background-image: url(<%=list.url_image%>)">
            <%= link_to list.name, list_path(list) %>
          </div>
        <% end %>
      </div>
    <%= link_to "Add a new list", new_list_path, class:'btn button-os foot' %>
  </div>

</div>
